<div class="row">
  <form name="form" class="css-form" novalidate>
    <div style="padding-bottom: 10px;">
      <div class="input-group">
        <span class="input-group-addon">$</span>
          <input type="number"
            class="form-control"
            placeholder="Enter your budget here!"
            ng-model="search"
            name="search"
            integer
          />
        <span class="input-group-addon">.00</span>
      </div>

    </div>
    <span ng-show="form.search.$error.integer">This is not valid number! Please enter an whole number</span>
  </form>
</div>
<!-- Additional form for additional options -->
<div class="row" ng-if="search">
  <trip-form></trip-form>
</div>
<!-- Submit -->
<div class="pull-right">
  <a class="btn btn-sm btn-success" ng-if="savedPref" ng-click="submit(search)">Go! &nbsp;<span class="glyphicon glyphicon-ok"></span></a>
</div>

<div ng-repeat="flight in flights">
  <div option-panel type="flights" info="flight"></div>
</div>
