<form name="form" class="css-form" novalidate>
    <div style="padding-bottom: 10px;">
        <div class="panel panel-default">
            <div class="panel-body">
                <div>
                    <label>How would you like to allocate your budget for this adventure?</label>
                </div>
                <span>Flight:</span>
                <div class="input-group col-lg-3">
                    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)" max="100" ng-model="test" integer/>
                    <span class="input-group-addon">%</span>
                </div>
                <div class="pull-right">
                  <a class="btn btn-sm btn-success" ng-click="saveTripPref()">Set Budget &nbsp;<span class="fa fa-hand-peace-o"></span></a>
                </div>
            </div>
        </div>
    </div>
</form>